/*
 * Site header
 */
.col-xs-9 {
  width: 75%;
}

@media (min-width: 768px) {
  .col-sm-12 {
      width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
      float:left
  }

  .col-md-1 {
      width: 8.3333333333%
  }

  .col-md-2 {
      width: 16.6666666667%
  }

  .col-md-3 {
      width: 25%
  }

  .col-md-4 {
      width: 33.3333333333%
  }

  .col-md-5 {
      width: 41.6666666667%
  }

  .col-md-6 {
      width: 50%
  }

  .col-md-7 {
      width: 58.3333333333%
  }

  .col-md-8 {
      width: 66.6666666667%
  }

  .col-md-9 {
      width: 75%
  }

  .col-md-10 {
      width: 83.3333333333%
  }

  .col-md-11 {
      width: 91.6666666667%
  }

  .col-md-12 {
      width: 100%
  }

  .col-md-pull-0 {
      right: auto
  }

  .col-md-pull-1 {
      right: 8.3333333333%
  }

  .col-md-pull-2 {
      right: 16.6666666667%
  }

  .col-md-pull-3 {
      right: 25%
  }

  .col-md-pull-4 {
      right: 33.3333333333%
  }

  .col-md-pull-5 {
      right: 41.6666666667%
  }

  .col-md-pull-6 {
      right: 50%
  }

  .col-md-pull-7 {
      right: 58.3333333333%
  }

  .col-md-pull-8 {
      right: 66.6666666667%
  }

  .col-md-pull-9 {
      right: 75%
  }

  .col-md-pull-10 {
      right: 83.3333333333%
  }

  .col-md-pull-11 {
      right: 91.6666666667%
  }

  .col-md-pull-12 {
      right: 100%
  }

  .col-md-push-0 {
      left: auto
  }

  .col-md-push-1 {
      left: 8.3333333333%
  }

  .col-md-push-2 {
      left: 16.6666666667%
  }

  .col-md-push-3 {
      left: 25%
  }

  .col-md-push-4 {
      left: 33.3333333333%
  }

  .col-md-push-5 {
      left: 41.6666666667%
  }

  .col-md-push-6 {
      left: 50%
  }

  .col-md-push-7 {
      left: 58.3333333333%
  }

  .col-md-push-8 {
      left: 66.6666666667%
  }

  .col-md-push-9 {
      left: 75%
  }

  .col-md-push-10 {
      left: 83.3333333333%
  }

  .col-md-push-11 {
      left: 91.6666666667%
  }

  .col-md-push-12 {
      left: 100%
  }

  .col-md-offset-0 {
      margin-left: 0
  }

  .col-md-offset-1 {
      margin-left: 8.3333333333%
  }

  .col-md-offset-2 {
      margin-left: 16.6666666667%
  }

  .col-md-offset-3 {
      margin-left: 25%
  }

  .col-md-offset-4 {
      margin-left: 33.3333333333%
  }

  .col-md-offset-5 {
      margin-left: 41.6666666667%
  }

  .col-md-offset-6 {
      margin-left: 50%
  }

  .col-md-offset-7 {
      margin-left: 58.3333333333%
  }

  .col-md-offset-8 {
      margin-left: 66.6666666667%
  }

  .col-md-offset-9 {
      margin-left: 75%
  }

  .col-md-offset-10 {
      margin-left: 83.3333333333%
  }

  .col-md-offset-11 {
      margin-left: 91.6666666667%
  }

  .col-md-offset-12 {
      margin-left: 100%
  }
}


@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {  
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px){
  .hidden-xs {
    display: none!important;
  }
}

@media (max-width: 767px){
  .visible-xs {
    display: block!important;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 768px){
  .col-sm-5 {
      width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-sm-offset-2 {
      margin-left: 16.6666666667%;
  }
}

header {
  position: relative;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 11.5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:after,
.container:before {
  display: table;
  content: " ";
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:after,
.row:before {
  display: table;
  content: " ";
}

.pull-right {
  float: right!important;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.mrgn-bttm-0 {
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}


.visible-xs {
  display: none!important;
}

.initialism, 
.text-uppercase {
  text-transform: uppercase;
}

header .brand {
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-top: 10px;
}

header .brand a {
  display: block;
  height: auto;
  padding-bottom: 0;
  position: relative;
  text-decoration: none;
  width: auto;
}

header .brand img {
  margin-bottom: .375em;
}

header .brand img,
header .brand object {
  height: auto;
  max-height: 40px;
}

header .brand a:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#wb-srch,
.srchbox {
  padding-top: 1em;
}

#wb-lng {
  padding-top: 10px;
}  

#wb-lng a {
  color: #284162;
  text-decoration: underline;
}

#wb-lng h2,
#wb-srch h2,
#wb-srch label,
.wb-inv,
.wb-invisible,
.wb-show-onfocus,
.wb-sl {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}  

#wb-srch .wb-srch-qry, 
.srchbox .wb-srch-qry {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
}

#wb-srch .wb-srch-qry input,
.srchbox .wb-srch-qry input {
  max-width: inherit;
  width: 100%;
}

#wb-srch input, 
.srchbox input {
  border-color: #e0e0e0;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
  position: relative;
}

#wb-srch button,
#wb-srch input, 
.srchbox button, 
.srchbox input {
  border-radius: 0;
}

#wb-srch .submit,
.srchbox .submit {
  position: absolute;
  right: 15px;
  top: 1em;
}

#wb-srch button,
.srchbox button {
  background-color: #26374a;
  border: 0;
  border-bottom: #26374a solid 1px;
  font-size: 17px;
}

#wb-srch-sub {
  margin-left: 5px;
}

#wb-srch .glyphicon,
.srchbox .glyphicon {
  top: auto;
  vertical-align: middle;
}

#wb-bnr {
  background-color: #fff;
  color: #333;
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  line-height: 1.4375;
}

#wb-bnr + hr {
  border-top: 3px solid #38414d;
	margin-bottom: 0px;
	margin-top: 5px;
}

#wb-bnr + hr + .container {
  font-size: 20px;
}

.col-lg-offset-4 {
  margin-left: 33.3333333333%;
}

.checkbox,
.checkbox-inline,
.radio,
.radio-inline,
:not( #wb-srch ) form,
form .btn:not( .btn-call-to-action ) {
  font-size: 16px;
  line-height: 23px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

[ placeholder ],
input[placeholder] {
  color: #5c5c5c!important;
}

input[ type=search ] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-right {
  text-align: right;
}

.form-control,
form .btn:not( .btn-call-to-action ) {
  padding: 6px 12px;
}

.form-control {
  height: auto;
  max-width: 100%;
  min-height: 37px;
  width: auto;
}

.form-control {
  display: block;
  width: 100%;
  height: 37px;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 1.4375;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control,
form .btn:not( .btn-call-to-action ) {
  padding: 6px 12px;
}

.checkbox,
.checkbox-inline,
.radio,
.radio-inline,
:not( #wb-srch ) form,
form .btn:not( .btn-call-to-action ) {
  font-size: 16px;
  line-height: 23px;
}

.btn {
  font-family: Lato,sans-serif;
}

.btn {
  border-style: outset;
  height: auto;
  min-height: 36px;
  min-width: 36px;
  white-space: normal;
}

.btn-primary {
  color: #fff;
  background-color: #2572b4;
  border-color: #143c5f;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 1.4375;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-search:before {
  content: "\e003";
}

.row:after {
  clear: both;
}

.row:after, .row:before {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}
